__pycache__/

*.egg-info/
.eggs/*

.ipynb_checkpoints/

node_modules/

higlass_widget/nbextension/index.js
higlass_widget/labextension/package.json
higlass_widget/labextension/static/*

dist/
dist-python/
